<div class="bg-img">
  <div class="main-div">
    <mat-card class="card">
      <mat-card-header class="text-center">
        <mat-card-title> Account Login </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-padding">
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>SAP Code</mat-label>
            <input type="text" matInput placeholder="code" formControlName="sapCode" maxlength="9">
          </mat-form-field>
          <mat-error class="forgetpswd"
            *ngIf="loginForm.get('sapCode')?.touched && loginForm.get('sapCode')?.hasError('pattern')">
            Please enter a valid SAP Code.
          </mat-error>
          <mat-error class="forgetpswd"
            *ngIf="loginForm.get('sapCode')?.touched && loginForm.get('sapCode')?.hasError('required')">
            SAP Code is Required.
          </mat-error>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <mat-error class="forgetpswd"
            *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('pattern')">
            Password must contain 1 capital letter, 1 special character and 1 number.
          </mat-error>
          <mat-error class="forgetpswd"
            *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
            Password is Required.
          </mat-error>
          <a class="pointer forgetpswd" (click)="forgetPassword()">Forget Password?</a>
          <mat-card-actions class="text-center padding-bottom">
            <button type="submit" mat-raised-button color="primary"
              [disabled]="loginForm.invalid || isBUttonClicked">Login</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
      <span class="text-center padding-bottom">Don't have account? <a class="pointer" (click)="gotoSignUp()"> Create
          account </a></span>
    </mat-card>
  </div>
</div>

<!-- <div class="main-div">
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form>
        <h1>Create Account</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button (click)="onSignUpClick()">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form>
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <a href="#">Forgot your password?</a>
        <button (click)="onSignInClick()">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn" (click)="onSignInClick()">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp" (click)="onSignUpClick()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
