<mat-toolbar class="tool-tip-container">
  <div class="tool-tip-nav">
    <button mat-icon-button [matMenuTriggerFor]="nav" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>dehaze</mat-icon>
      <mat-menu #nav="matMenu">
        <button mat-menu-item class="btn" (click)="gotoHome()">HOME</button>
        <button mat-menu-item class="btn" (click)="gotoMainController()">MAIN CONTROLLER</button>
        <button mat-menu-item class="btn" (click)="gotoDataSheet()">DATASHEET</button>
        <button mat-menu-item class="btn" (click)="gotoResultPage()">RESULTS</button>
        <!-- <button mat-menu-item>Item 2</button> -->
      </mat-menu>
    </button>
  </div>
  <span class="tool-tip-content">AUTOMATION FRAMEWORK</span>
  <!-- <span class="tool-tip-content" (click)="gotoMainController()">Main-Controller</span>
  <span class="tool-tip-content" (click)="gotoDataSheet()">Datasheet</span> -->
  <div class="tool-tip-btn">
    <span>{{userName}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>person</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="btn" (click)="logout()">LogOut</button>
        <!-- <button mat-menu-item>Item 2</button> -->
      </mat-menu>
    </button>
  </div>
</mat-toolbar>
