<mat-toolbar class="tool-tip-container">
  <span class="tool-tip-content" (click)="gotoResultPage()">Results</span>
  <span class="tool-tip-content" (click)="gotoMainController()">Main-Controller</span>
  <span class="tool-tip-content" (click)="gotoDataSheet()">Datasheet</span>
  <div class="tool-tip-btn">
    <span>{{userName}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>person</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
        <!-- <button mat-menu-item>Item 2</button> -->
      </mat-menu>
    </button>
  </div>

  

  
  
</mat-toolbar>



